/* Profile/Group Tips */
/*.opentip-container {
    max-width: 1000px;
}

/* Player Downloads *
#title-bar #downloads {
    display: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAABmJLR0QAJAAkACTORThWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQHEDcJeUryZgAAAFtJREFUGNONjjEKwDAMA002TZ3yA/n1/pb8DndJg6Gh9MaTEDJbkGQ1SPLJhv1grJV5CrcnOesDknOYmWVmnpaWv/ZpSeoLktTP72JERFVVRMSr8AAA7u4A0P0NFStRvu/GlrMAAAAASUVORK5CYII=") no-repeat 13px 6px;
    float: right;
    padding: 0 0 0 28px;
    color: white;
    height: 19px;
}

#circleG {
    position: relative;
    top: 8px;
    width: 10.5px;
}

.circleG {
    background-color: #FFF;
    float: left;
    height: 2px;
    margin-left: 1px;
    width: 2px;
    -webkit-animation-name: bounce_circleG;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-border-radius: 1px;
}

#circleG_1 { -webkit-animation-delay: .3s }
#circleG_2 { -webkit-animation-delay: .7s }
#circleG_3 { -webkit-animation-delay: .9s }

@-webkit-keyframes bounce_circleG {
    50% { background-color: #262627 }
}

/* Group Mods *
.modation-group-mods {
    display: none;
    padding: 8px;
    background: #e5f3d6;
    border: 1px solid #709343;
    border-radius: 2px;
}

div.row.group.minified {
    padding: 4px;
}

div.img.minified,
div.img.minified img {
    width: 20px !important;
    height: 20px !important;
}

div.info.minified {
    min-height: 20px !important;
    margin-left: 24px !important;
}

p.last-activity.minified {
    float: right;
    display: inline;
}

p.last-activity.minified:before {
    content: "(";
}

p.last-activity.minified:after {
    content: ")";
}

div.admin.minified a {
    margin-top: -2px !important;
}

/* Player Actions *
.player-action {
    cursor: pointer;
}

#title-bar #likes.player-action.liked {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAAAXNSR0ICQMB9xQAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUATWljcm9zb2Z0IE9mZmljZX/tNXEAAAB3SURBVCjPY5AUFJTeWFu18fO6Nd82N9RtMVZSMgDRID5IHCTPsKulZdf/bVv+48IH29sPMHxeu/ozPkXfNq7/SZxJSqKiKk8WzXuCTQFIHCTP0NjYiFUhTAFIHqwIpnB1VflqkAIQDVOAogjMYWDgBEqqgmhkcQBC9K4e4p4JAgAAAABJRU5ErkJggg==");
}*/

.factory {
    display: none;
}

/*.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-filter: grayscale(1) opacity(.6);
    transition: all .3s;
}

input[type=range].vertical {
    -webkit-transform: rotate(270deg);
    -webkit-backface-visibility: hidden;
}

.volume {
    position: absolute;
    z-index: 100;
    top: 70px;
    left: -31px;
    width: 90px;
}

input[type=range] {
    /*removes default webkit styles*
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug *
    /*border: 1px solid white;*
    
    /*required for proper track sizing in FF*
    /*width: 300px;*
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*
    height: 7px;
    background: #333;
    border: none;
    /*border-radius: 3px;*
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f60;
    margin-top: -2px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    /*background: rgba(221, 221, 221, .6);*
}

.smart-player #play-button .overlay {
    display: none;
}

.smart-player #play-button {
    background: none;
}

.smart-player #play-button-icon {
    opacity: 0;
    transition: opacity .2s;
}

.smart-player #play-button:hover #play-button-icon {
    opacity: 1;
    /*transition: opacity .2s;
}*/

/* Comment Tags */


.-sew-list-container {
    z-index: 1010;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 180px;
}

.-sew-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.-sew-list-item {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
}


.-sew-list-item small {
    color: #afafaf;
}

.-sew-list-item.selected {
    color: white;
    background: #4183C4;
    text-decoration: none;
}

/*.afd-mirror {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}*/

.mod-write-comment #comment_content {
    /*position: relative;*/
    /*z-index: 1010;*/
    transition: .2s height ease-in-out;
}

.mod-write-comment #comment_content ~ [name="commit"] {
    /*position: relative;*/
    /*top: 0;*/
    /*z-index: 1000;*/
    /*transition: .2s top ease-in-out;*/
}

.mod-write-comment #comment_content:not(:focus) {
    /*height: 50px;*/
}

.mod-write-comment #comment_content:not(:focus) ~ [name="commit"] {
    /*top: -60px;*/
    /*height: 0;*/
}

.mod-comments .comment:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.mod-group-list .group {
    width: 100%;
}

.mod-group-invites {
    margin-bottom: 20px;
}

.mod-alert.alert {
	top: 0px;
	transition: top .3s ease, opacity .3s linear .3s;
	position: absolute;
	z-index: 100;
	width: 100%;
}

.mod-alert.alert.hidden {
	top: -60px;
	opacity: 1;
	height: 60px;
}