/* Profile/Group Tips */
.opentip-container {
    max-width: 1000px;
}

/* Player Downloads */
#title-bar #downloads {
    display: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAABmJLR0QAJAAkACTORThWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQHEDcJeUryZgAAAFtJREFUGNONjjEKwDAMA002TZ3yA/n1/pb8DndJg6Gh9MaTEDJbkGQ1SPLJhv1grJV5CrcnOesDknOYmWVmnpaWv/ZpSeoLktTP72JERFVVRMSr8AAA7u4A0P0NFStRvu/GlrMAAAAASUVORK5CYII=") no-repeat 13px 6px;
    float: right;
    padding: 0 0 0 28px;
    color: white;
    height: 19px;
}

#circleG {
    position: relative;
    top: 8px;
    width: 10.5px;
}

.circleG {
    background-color: #FFF;
    float: left;
    height: 2px;
    margin-left: 1px;
    width: 2px;
    -webkit-animation-name: bounce_circleG;
    -webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-border-radius: 1px;
}

#circleG_1 { -webkit-animation-delay: .3s }
#circleG_2 { -webkit-animation-delay: .7s }
#circleG_3 { -webkit-animation-delay: .9s }

@-webkit-keyframes bounce_circleG {
    50% { background-color: #262627 }
}

/* Group Mods */
.modation-group-mods {
    display: none;
    padding: 8px;
    background: #e5f3d6;
    border: 1px solid #709343;
    border-radius: 2px;
}

div.row.group.minified {
    padding: 4px;
}

div.img.minified,
div.img.minified img {
    width: 20px !important;
    height: 20px !important;
}

div.info.minified {
    min-height: 20px !important;
    margin-left: 24px !important;
}

p.last-activity.minified {
    float: right;
    display: inline;
}

p.last-activity.minified:before {
    content: "(";
}

p.last-activity.minified:after {
    content: ")";
}

div.admin.minified a {
    margin-top: -2px !important;
}

/* Player Actions */
.player-action {
    cursor: pointer;
}

#title-bar #likes.player-action.liked {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAAAXNSR0ICQMB9xQAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUATWljcm9zb2Z0IE9mZmljZX/tNXEAAAB3SURBVCjPY5AUFJTeWFu18fO6Nd82N9RtMVZSMgDRID5IHCTPsKulZdf/bVv+48IH29sPMHxeu/ozPkXfNq7/SZxJSqKiKk8WzXuCTQFIHCTP0NjYiFUhTAFIHqwIpnB1VflqkAIQDVOAogjMYWDgBEqqgmhkcQBC9K4e4p4JAgAAAABJRU5ErkJggg==");
}

.factory {
    display: none;
}

.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-filter: grayscale(1) opacity(.6);
    transition: all .3s;
}

/* Comment Tags */


.-sew-list-container {
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    min-width: 180px;
}

.-sew-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.-sew-list-item {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
}


.-sew-list-item small {
    color: #afafaf;
}

.-sew-list-item.selected {
    color: white;
    background: #4183C4;
    text-decoration: none;
}