.page-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/preloader.gif) center no-repeat #fff;
}

.alert {
	top: 0px;
	transition: top .3s ease, opacity .3s linear .3s;
	position: absolute;
	z-index: 100;
	width: 100%;
}

.alert.hidden {
	top: -60px;
	opacity: 1;
	height: 60px;
}

form .column-layout .column .field.checkbox label.default {
	display: block;
	margin-bottom: 6px;
	font-weight: 500;
	font-size: 16px;
	margin-left: 0;
}

form .column-layout .column .field.checkbox .field-help {
	margin: 0 0 1em 2em;
}

footer .copyright {
	margin-top: 0;
}