{% extends "default.twig" %}

{% block content %}
    <section class="page-header docs">
        <h1 class="project-name">
            <img class="img-responsive" src="{{ baseUrl }}/img/newiconflat.png" />
            {{ title }} Docs <span class="version">v{{ version }}</span>
        </h1>
    </section>
    <section class="main-content main">
        <div class="inner">
            {{ content|raw }}
        </div>
    </section>
{% endblock %}