<h2><a class="anchor" href="#whats-new" id="whats-new"><span class="octicon octicon-link"></span></a>What's New</h2>
<ul>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/44" title="User tagging in comments">#44</a>: Added user tagging in comments (via @).</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/59" title="Groups list filtering">#59</a>: Added quick filter to group lists.</li>
    <li><a class="issue-link" href="{{ projectUrl }}/issues/67" title="Show comments box above thread">#67</a>: Moved comments box above thread on tracks and groups.</li>
</ul>