<h2><a class="anchor" href="#whats-new" id="whats-new"></a>What's New</h2>
<ul>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/60">#60</a><span>:</span> New options page for customizing what mods are enabled.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/61">#61</a><span>,</span> <a class="issue-link" href="https://github.com/cyberbit/modation/issues/62">#62</a><span>:</span> New toolbar button and popup with quick actions.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/72">#72</a><span>:</span> [Mod] <strong>Show alerts on top of navigation.</strong> Alerts will overlap the main navigation links.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/84">#84</a><span>:</span> [Mod] <strong>Move group invitations.</strong> Invitations will appear at the top of the page.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/91">#91</a><span>:</span> Added options for all available mods.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/93">#93</a><span>:</span> [Option] <strong>Remember me</strong>. Login will persist for up to a week.</li>
</ul>

<h2><a class="anchor" href="#whats-changed" id="whats-changed"></a>What's Changed</h2>
<ul>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/89">#89</a><span>,</span> <a class="issue-link" href="https://github.com/cyberbit/modation/issues/90">#90</a><span>:</span> Improved install and update detection.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/97">#97</a><span>:</span> Optimized scripts for size and security.</li>
</ul>

<h2><a class="anchor" href="#whats-fixed" id="whats-fixed"></a>What's Fixed</h2>
<ul>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/34">#34</a><span>:</span> Fixed badge on toolbar button showing incorrect notification counts.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/83">#83</a><span>:</span> Fixed notifications appearing repeatedly.</li>
    <li><a class="commit-link" href="https://github.com/cyberbit/modation/commit/6034a6157bf7b7eb5b8f0a3118d7a048d8f53ab5"><tt>6034a61</tt></a><span>:</span> Fixed major user tag bug.</li>
    <li><a class="issue-link" href="https://github.com/cyberbit/modation/issues/104">#104</a><span>:</span> Fixed global styles causing strange rendering problems in the Chrome studio.</li>
</ul>